.book {
    margin: 10px;
    background-color: pink;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-details {
    padding: 10px;
}

.book-title {
    font-weight: bold;
}

.book-details-text {
    color: gray;
}
